* {
	font-family: verdana;
	font-size: 15px;
	color:#888888;	
}
input:focus{
	color:#555555;
    background-color:#eeeeee;
}

input{
	color:black;
    background-color:white;
}

.bVerde{
    line-height:22px !important;
    border: 2px solid GREY !important;
    background: #00c000 !important;
    box-shadow: 0 0 3px WHITE !important;
    font-size:14px !important;

}
.erro{
	display:none;
	color:red;
	
}
.bVermelho{
    color:#EEEEEE !important;
    background: #f00000 !important;
}

input[type=button]{
    line-height:20px;
    border: 1px solid black;
    border-radius: 15%;
    color:#444444;
    text-align:center;
    text-decoration:none;
    background: #c0c0c0;
    box-shadow: 0 0 1px gray;
    font-size:12px;
    font-weight:bold;
}

input[type=submit]{
    line-height:20px;
    border: 1px solid black;
    border-radius:15%;
    color:#444444;
    text-align:center;
    text-decoration:none;
    background: #c0c0c0;
    box-shadow: 0 0 1px gray;
    font-size:12px;
    font-weight:bold;
}

.data{
	width:160px;
}
.body {
	background-image:url("fundo.jpg");
	background-size: 100% 100%;
}

h1{
	font-family: Gabriola;
	font-size: 40px;
}

h2{
	font-family: Arial;
	font-size: 25px;	
}

.form{
	line-height:280%;
}
.titulo{
	margin-left:30px;
	top: 0;	
}
.esquerda{
	margin-left:70px;
}

.menu {
	width: 20%;
}

.content {
	position: absolute;
	left: 130px;
	top: 0;
	background-color:"red";
}

.margemP{
	margin:0px 30px;	
}

.mao{
	cursor:hand;
	font-family:times new roman;
	font-size: 20px;
	color:blue;
	text-decoration:underline;
}

.margemM{
	margin:0px 70px;	
}

.container{
	height:100%;
	padding:0px,0px;
	top:0;
}
.metadeEsquerda{ 
	width:600px;
	float:left;
	padding:0px,0px;
	top:0;
	background-color:"green";
}

.metadeDireita{
	width:500px;
	float:right;
	background-color:"blue";
}


th{
	text-align:left;	
	background-color:#dddddd;
}
.inputTabela{
		font-size:14px;
}
